<div class="main-container">
  <div class="container-one">
    <button id="left-button" (click)="changeElement(-1)">
      <img [src]="'eleresi ut' + selectedElement + '.svg'" height="30" width="30" />
    </button>

    <img width="60" height="60" />

    <button id="right-button" (click)="changeElement(1)">
      <img height="30" width="30" />
    </button>
  </div>

  <input type="text" placeholder="name" [value]="name" (change)="changeName($event)"/>

  <div class="container-two">

    <img src="../../assets/attack.svg" height="30" width="30" />
    <input type="number" [value]="attack" (change)="changeAttack($event)" />

    <img src="../../assets/defense.svg" height="30" width="30" />
    <input type="number" [value]="defense" (change)="changeDefense($event)"/>

  </div>

  <button id="add-button" (click)="saveMonster()">Add</button>
</div>
